<div id="signup" class="panel panel-default ">
	<div class="panel-heading">
		<h1>Sign up - <sapn class="plan_name"></sapn></h1><a href="#" id="change_plan">Change Plan</a>
	</div>
	<div class="panel-body">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="form-group"><%= f.label :name %><br />
		  <%= f.text_field :name, autofocus: true, class: "form-control"%></div>

		  <div class="form-group"><%= f.label :email %><br />
		  <%= f.email_field :email, autofocus: true, class: "form-control"%></div>

		  <div class="form-group"><%= f.label :password %><br />
		  <%= f.password_field :password, class: "form-control" %></div>

		  <div class="form-group"><%= f.label :password_confirmation %><br />
		  <%= f.password_field :password_confirmation, class: "form-control" %></div>

		  <div class="form-group"><%= f.submit "Sign up"  , class: "btn btn-primary "%></div>
		<% end %>
	</div>
	<div class="panel-footer">
		<%= render "devise/shared/links" %>
	</div>	
</div>
<h1>Social Login</h1><br>

<%= link_to 'Login with Facebook', '/auth/facebook/' %>
<br>
<%= link_to 'Login with Twitter', '/auth/twitter/' %>
<br>
<%= link_to 'Login with Linkedin', '/auth/linkedin/' %>
